#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        service_name: "adminApi",
        service_id: 4,
        config: (snake_case_fields: true),
        endpoints: [
            EndpointSchemaElement(
                frontend_facing: true,
                schema: (
                    name: "DeleteApp",
                    code: 40000,
                    parameters: [
                        Field(name: "app_public_id", ty: NanoId(len: 16)),
                    ],
                    returns: [],
                    roles: ["UserRole::Admin"],
                ),
            ),
            EndpointSchemaElement(
                frontend_facing: true,
                schema: (
                    name: "SetLogLevel",
                    code: 40001,
                    parameters: [
                        Field(name: "level", ty: EnumRef(name: "LogLevel")),
                    ],
                    returns: [],
                    roles: ["UserRole::Admin"],
                ),
            ),
            EndpointSchemaElement(
                frontend_facing: true,
                schema: (
                    name: "GetUsers",
                    code: 40002,
                    parameters: [],
                    returns: [
                        Field(name: "data", ty: StructTable(struct_ref: "UserInfo")),
                    ],
                    roles: ["UserRole::Admin"],
                ),
            ),
            EndpointSchemaElement(
                frontend_facing: true,
                schema: (
                    name: "SetRole",
                    code: 40003,
                    parameters: [
                        Field(name: "user_pub_id", ty: NanoId(len: 16)),
                        Field(name: "role", ty: EnumRef(name: "UserRole")),
                    ],
                    returns: [],
                    roles: ["UserRole::Admin"],
                ),
            ),
            EndpointSchemaElement(
                frontend_facing: true,
                schema: (
                    name: "GetAllApps",
                    code: 40004,
                    parameters: [],
                    returns: [
                        Field(name: "data", ty: StructTable(struct_ref: "AppInfo")),
                    ],
                    roles: ["UserRole::Admin"],
                ),
            ),
        ],
    ),
)